body {
    font-size: 120%;
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
}
main h1 {
    /*font-size: 60px;*/
    background-color: #851944; /*rgb(133, 25, 68)*/
    color: #FFF;
    text-align: center;
}
/*fh2 {
    font-size: 40px;
}*/
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
p {
    text-align: justify;  
}