body {
    font-size: 120%;
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
}
main h1 {
    /*font-size: 60px;*/
    background-color: #851944; /*rgb(133, 25, 68)*/
    color: #FFF;
    text-align: center;
}
/*fh2 {
    font-size: 40px;
}*/
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
p {
    text-align: justify;  
}
blockquote {
    background-color: #D9E5E3;
}
aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}
footer {
    background-color: #000;
    color: #F2FFFC;
}
main a {
    color: #851944;
}
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}