body {
    line-height: 1.5;
    font-size: 120%;
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
}
main a {
    color: #851944;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
.titulo-principal {
    font-size: 60px;
    border-bottom: 10px solid black;
    padding: 25px;
    background-color: #851944; /*rgb(133, 25, 68)*/
    color: #FFF;
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.subtitulos {
    font-size: 30px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.texto {
    text-align: justify; 
    margin: 20px 0;
}
.citacoes {
    border: 10px solid #C2CCCA;
    background-color: #D9E5E3;
    padding: 20px;
    width: 250px;
    /*margin: top right bottom left;*/
    margin: 20px 40px 20px 40px;
    box-sizing: border-box;
}
.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    border: 10px solid black;
}
#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}
.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-decoration: none;
}
.conteudo {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}
.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
.icones-sociais li {
    margin-top:20px;
    display: inline-block;
}
.artigos {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
}
.leia-mais {
    background-color: #E6E7E8;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 120%;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}