<!-- TÍTULO CONTEÚDO-->
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Clientes</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Novo cliente</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- TÍTULO CONTEÚDO-->
<!--CONTEÚDO-->
<div class="content mt-3">
    <div class="alert alert-dark" role="alert">
        Formulário de cadastro de cliente (pessoa)
    </div>
    <!--/.col-->
</div>
<!--CONTEÚDO-->
