
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h2>Bem-vindo</h2>
            <br /><br />
            @Html.RouteLink("Cadastro de produtos", "ListaProdutos")
        </center>
    </div>
</body>
</html>
