<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Gerenciar produtos</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/Home/Index">Dashboard</a></li>
                    <li><a href="/Produto/Index">Produtos</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="card">
        <div class="card-header">
            <h4>Produtos Dashboard</h4>
        </div>
        <div class="card-body">
            <div class="default-tab">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-produtos-tab" data-toggle="tab" href="#nav-produtos" role="tab" aria-controls="nav-produtos" aria-selected="true">Produtos</a>
                        <a class="nav-item nav-link" id="nav-categorias-tab" data-toggle="tab" href="#nav-categorias" role="tab" aria-controls="nav-categorias" aria-selected="false">Categorias</a>
                        <a class="nav-item nav-link" id="nav-subcategorias-tab" data-toggle="tab" href="#nav-subcategorias" role="tab" aria-controls="nav-subcategorias" aria-selected="false">Subcategorias</a>
                        <a class="nav-item nav-link" id="nav-marcas-tab" data-toggle="tab" href="#nav-marcas" role="tab" aria-controls="nav-marcas" aria-selected="false">Marcas</a>
                    </div>
                </nav>
                <div class="tab-content pl-3 pt-2 text-center" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-produtos" role="tabpanel" aria-labelledby="nav-produtos-tab">
                        <div id="mensagensContainer"></div>
                        <div class="btn-group-sm btn-group-toggle mb-3" data-toggle="buttons">
                            <label class="btn btn-success active focus mr-0 rounded" id="RadioAtivos">
                                <input type="radio" name="opcaoAtivoDesativo" onchange="processaAtivoDesativo()" value="ativa" autocomplete="off" checked> Ativos
                            </label>
                            <label class="btn btn-secondary rounded" id="RadioDesativos">
                                <input type="radio" name="opcaoAtivoDesativo" onchange="processaAtivoDesativo()" value="desativa" autocomplete="off"> Desativados
                            </label>
                        </div>
                        <table id="bootstrap-data-table" class="table-striped table table-dark table-bordered ">
                            <thead class="thead-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Subcategoria.CategoriaId</th>
                                    <th>SubcategoriaId</th>
                                    <th>PrecoRecarga</th>
                                    <th>PrecoTroca</th>
                                    <th>MarcaId</th>
                                    <th>Nome</th>
                                    <th>Preço(s)</th>
                                    <th>Marca</th>
                                    <th>Estoque</th>
                                    <th>Categoria - Subcategoria</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        @section scriptsProduto {
                            @Scripts.Render("~/bundles/tables/js")
                            <script src="~/Content/js/jquery.mask.js"></script>
                            <script src="~/Content/js/vendor/jquery.form.min.js"></script>
                            <script src="~/Content/js/modalFix.js"></script>
                            <script src="~/Content/js/validation/jquery.validate.min.js"></script>
                            <script src="~/Content/js/produto/scriptsForms.js"></script>
                            <script src="~/Content/js/produto/scriptsDataTables.js"></script>
                            <script src="~/Content/js/produto/funcoesCrud.js"></script>
                        }

                        <div class="modal fade" id="ModalRemover" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="smallmodalLabel">Desativar produto</h5>
                                        <button type="button" id="fechaModalRemover" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="dialogoDesativar"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" onclick="apagaProduto()">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="ModalAtivar" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="smallmodalLabel">Reativar produto</h5>
                                        <button type="button" id="fechaModalReativar" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="dialogoReativar"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" onclick="reativaProduto()">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="ModalAdicionar" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="largeModalLabel">Adicionar Produto</h5>
                                        <button type="button" id="fechaModalAdd" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body card-block">
                                                    <div class="alert alert-danger" id="msgErroProdutoAdd" hidden role="alert">
                                                        <p></p>
                                                    </div>
                                                    <form action="/Produto/Adiciona" method="post" id="FormAdiciona">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Nome</div>
                                                                <input type="text" id="nomeAdd" name="produto.Nome" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Marca</div>
                                                                <select name="produto.MarcaId" id="MarcaAdd" class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Categoria</div>
                                                                <select name="CategoriaAdd" id="categoriaAdd" onchange="pegaSubcategorias('Add')" class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Subcategoria</div>
                                                                <select name="produto.SubcategoriaId" id="subcategoriaAdd" required disabled class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Estoque inicial</div>
                                                                <input type="text" id="estoqueAdd" required name="produto.Estoque" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Preço unitário</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoUnitarioAdd" required name="produto.PrecoUnitario" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="precoRecargaDivAdd">
                                                            <div class="input-group">
                                                                <label class="switch switch-default switch-secondary-outline-alt mr-2">
                                                                    <input type="checkbox" id="TogglePrecoRecargaAdd" onchange="processaTogglePrecos('Recarga', 'Add')" class="switch-input">
                                                                    <span class="switch-label"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                                <div class="input-group-addon">Preço recarga</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoRecargaAdd" name="produto.PrecoRecarga" disabled class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="precoTrocaDivAdd">
                                                            <div class="input-group">
                                                                <label class="switch switch-default switch-secondary-outline-alt mr-2">
                                                                    <input type="checkbox" id="TogglePrecoTrocaAdd" onchange="processaTogglePrecos('Troca', 'Add')" class="switch-input">
                                                                    <span class="switch-label"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                                <div class="input-group-addon">Preço troca</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoTrocaAdd" name="produto.PrecoTroca" disabled class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-actions form-group text-center">
                                                            <button type="submit" class="btn btn-primary">Cadastrar produto</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="largeModalLabelEditar">Editar Produto</h5>
                                        <button type="button" id="fechaModalEdita" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body card-block">
                                                    <div class="alert alert-danger" id="msgProdutoNaoAlterado" hidden role="alert">
                                                        <p></p>
                                                    </div>
                                                    <form action="/Produto/Atualiza" method="post" id="FormAtualiza">
                                                        <input type="text" id="IdEditar" name="produtoedit.Id" hidden class="form-control">
                                                        <input type="text" name="produtoedit.Ativo" value="true" hidden class="form-control">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Nome</div>
                                                                <input type="text" id="nomeEditar" name="produtoedit.Nome" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Marca</div>
                                                                <select name="produtoedit.MarcaId" id="MarcaEditar" class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Categoria</div>
                                                                <select name="CategoriaEdit" id="categoriaEditar" onchange="pegaSubcategorias('Editar')" class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Subcategoria</div>
                                                                <select name="produtoedit.SubcategoriaId" id="subcategoriaEditar" disabled class="form-control">
                                                                    <option value="">Selecione...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Estoque inicial</div>
                                                                <input type="text" id="estoqueEditar" name="produtoedit.Estoque" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Preço unitário</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoUnitarioEditar" name="produtoedit.PrecoUnitario" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="precoRecargaDivEditar">
                                                            <div class="input-group">
                                                                <label class="switch switch-default switch-secondary-outline-alt mr-2">
                                                                    <input type="checkbox" id="TogglePrecoRecargaEditar" onchange="processaTogglePrecos('Recarga', 'Editar')" class="switch-input">
                                                                    <span class="switch-label"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                                <div class="input-group-addon">Preço recarga</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoRecargaEditar" name="produtoedit.PrecoRecarga" disabled class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="precoTrocaDivEditar">
                                                            <div class="input-group">
                                                                <label class="switch switch-default switch-secondary-outline-alt mr-2">
                                                                    <input type="checkbox" id="TogglePrecoTrocaEditar" onchange="processaTogglePrecos('Troca', 'Editar')" class="switch-input">
                                                                    <span class="switch-label"></span>
                                                                    <span class="switch-handle"></span>
                                                                </label>
                                                                <div class="input-group-addon">Preço troca</div>
                                                                <div class="input-group-addon">R$</div>
                                                                <input type="text" id="precoTrocaEditar" name="produtoedit.PrecoTroca" disabled class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-actions form-group text-center">
                                                            <button type="submit" class="btn btn-primary">Salvar alterações</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-categorias" role="tabpanel" aria-labelledby="nav-categorias-tab">
                        <p>Categorias</p>
                    </div>
                    <div class="tab-pane fade" id="nav-subcategorias" role="tabpanel" aria-labelledby="nav-subcategorias-tab">
                        <p>Subcategorias</p>
                    </div>
                    <div class="tab-pane fade" id="nav-marcas" role="tabpanel" aria-labelledby="nav-marcas-tab">
                        <p>Marcas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>