<!-- TÍTULO CONTEÚDO-->
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Vendas</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Nova venda</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- TÍTULO CONTEÚDO-->
<!--CONTEÚDO-->
<div class="content mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md m-1 border border-dark border-3 rounded infoVenda">
                <form action="" method="post" class="form-control m-1">
                    <div class="form-group mb-0">
                        <label for="venda.FormaDePagamento" class="pr-1  form-control-label">Forma de pagamento</label>
                        <select id="formaDePagamento" name="venda.FormaDePagamento" class="form-control">
                            <option value="">Selecione...</option>
                        </select>
                        <div class="row m-1 mt-2">
                            <label class="switch switch-default switch-secondary-outline-alt switch-pill mt-2 mr-2">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <div class="col-3">
                                <select id="parcelas" name="venda.Parcelas" class="form-control">
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-1 mt-2">
                            <label class="switch switch-default switch-secondary-outline-alt switch-pill mt-2 mr-2">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <div class="col-3">
                                <div class="row">
                                    <label class="containerRadio mr-2">
                                        Valor fixo
                                        <input type="radio" checked name="radioParcela" id="parceladoFixo">
                                        <span class="spanRadio"></span>
                                    </label>
                                    <label class="containerRadio">
                                        Porcentagem
                                        <input type="radio" name="radioParcela" id="parceladoPorcentagem">
                                        <span class="spanRadio"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <select id="parcelas" name="venda.Parcelas" class="ml-2 form-control">
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="25">25%</option>
                                    <option value="30">30%</option>
                                </select>
                            </div>
                            <div class="col-4"><input type="text" class="form-control" placeholder="Valor..." /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="venda.FormaDePagamento" class="pr-1  form-control-label">Cliente</label>
                        <select id="formaDePagamento" name="venda.FormaDePagamento" class="form-control">
                            <option value="">Pesquisar...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="venda.Data" class="pr-1 form-control-label">Data (padrão - hoje)</label>
                        <div class="col w-100"></div>
                        <div class="col-1 mr-2 pl-0">
                            <label class="switch switch-default switch-secondary-outline-alt switch-pill mt-2 mr-2">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="col-9">
                            <div class=""><input type="date" name="venda.Data" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="venda.Data" class="pr-1 form-control-label">Observações</label>
                        <textarea class="form-control" rows="3" name="venda.Observacao"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="venda.FormaDePagamento" class="pr-1  form-control-label">Tipo de venda</label>
                        <select id="formaDePagamento" name="venda.FormaDePagamento" class="form-control">
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md m-1 border border-dark border-3 rounded tabelaProdutosVenda">
            </div>
        </div>
        <div class="row">
            <div class="col-md m-1 border border-dark border-3 rounded selectProdutosVenda">
            </div>
            <div class="col-md m-1 border border-dark border-3 rounded valorTotalVenda">
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--CONTEÚDO-->