.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus {
    text-decoration: none;
    color: white;
}

.tabelaprodutosbotoes div {
    float: left;
}

table.dataTable.table-striped tbody > tr.odd.selected,
table.dataTable.table-striped tbody > tr.odd > .selected {
    background-color: #4CAF50;
}

.erroEditar, .erroAdd {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

input.campoInvalido, input.campoInvalido:focus, select.campoInvalido, select.campoInvalido:focus {
    border: 1px solid red;
}

.msgErroForm {
    list-style-type: none;
    color: red;
    font-weight: bold;
}