<center>
    <form method="post" action="/Categoria/Adiciona">
        <label for="nome">Nome: </label>
        <input id="nome" name="Nome" class="form-control" />
        <br /><br />
        <label for="descricao">Descrição: </label>
        <input id="descricao" name="Descricao" class="form-control" />
        <br /><br /><br />
        <input type="submit" value="Cadastrar" class="form-control" />
    </form>
</center>
