
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <center>
            <form method="post" action="/Categoria/Adiciona">
                <label for="nome">Nome: </label>
                <input id="nome" name="Nome" />
                <br /><br />
                <label for="descricao">Descrição: </label>
                <input id="descricao" name="Descricao" />
                <br /><br /><br />
                <input type="submit" value="Cadastrar" />
            </form>
        </center>
    </div>
</body>
</html>
