<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in ViewBag.Categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Descricao</td>
            </tr>
        }
    </tbody>
</table>
@Html.RouteLink("Cadastrar nova categoria", "CadastraCategoria", null, new { @class = "btn btn-info" })