<form action="/Login/Autentica" method="post">
    <label for="email"></label>
    <input type="text" name="email" id="login" class="form-control" />

    <label for="senha"></label>
    <input type="password" name="senha" id="senha" class="form-control" />

    <input type="submit" value="Autenticar" class="form-control" />
</form>